/* .header-icon {
  margin-right: 4px;
}

.chart {
  opacity: 0.5% !important;
}

.carousel-item img {
  padding-right: 30px;
}

.modal-gif {
  background-color: #000000 !important;
}

.rupee-symbol {
  font-size: 36px;
  font-weight: light;
}

.amount-rupee {
  font-size: 3rem !important;
}

.rupee {
  margin: auto 3px auto 10px;
}

.divider {
  width: 0px;
  height: 100px;
  left: 208px;
  top: 284.5px;

  border: 1px solid #ffffff;
} */
